---
import "../../../styles/v2/2.2_callback.css";
import V2Layout from "../../../layouts/V2Layout.astro";
import Header from '../../../components/utilitified_decorations/Header'
import Footer from '../../../components/utilitified_decorations/Footer'
import { LandingRightMenu } from "../../../components/utilitified_decorations/HeaderRight";

import AuthSuccessCard from '../../../components/v2/2.2_callback/AuthSuccessCard'

---

<V2Layout>
  <div class="min-h-screen bg-gray-100 flex flex-col">
    <Header landingPageTopMenu={true} hideLinks={LandingRightMenu} cascadeLogoSubtitle="Wait a bit please..." />
      <main class="flex-1 flex items-center justify-center px-4 py-8">
        <AuthSuccessCard client:visible />
      </main>
      <Footer />
    </div>
</V2Layout>