---
import "../../../styles/v2/6.3_work.css";
import V2Layout from "../../../layouts/V2Layout.astro";

import Header from '../../../components/v2/6.4.3_cmaintainer/Header'
import TaskNotice from '../../../components/v2/6.3_work/TaskNotice'
import IssuesNotice from '../../../components/v2/6.3_work/IssuesNotice'
import Sidebar from '../../../components/v2/6.3_work/Sidebar'
import TasksSection from '../../../components/v2/6.3_work/TasksSection'
import IssuesSection from '../../../components/v2/6.3_work/IssuesSection'
import RoadmapSection from '../../../components/v2/6.3_work/RoadmapSection'
import Footer from '../../../components/v2/6.3_work/Footer'

---

<V2Layout>
<div class="min-h-screen bg-gray-50 flex flex-col">
      <Header activeRight={2} />
      <div class="flex-1 max-w-6xl mx-auto px-4 py-8 w-full">
        <!-- Upper menu with todo -->
        <div class="grid grid-cols-1 lg:grid-cols-4 gap-6">
          <div class="lg:col-span-1">
            <Sidebar activeMenuItem="work" />
          </div>
          <div class="lg:col-span-2">
            <TasksSection />
          </div>
          <div class="lg:col-span-1">
            <TaskNotice />
          </div>
        </div>

        <!-- bottom menu if no issue -->
        <div class="grid grid-cols-1 lg:grid-cols-4 gap-6">
          <div class="lg:col-span-1">
            <IssuesNotice />
          </div>
          <div class="lg:col-span-2">
            <div class="mt-6">
              <IssuesSection />
            </div>
          </div>
          <div class="lg:col-span-1">
            <RoadmapSection />
          </div>
        </div>

      </div>
      <Footer />
    </div>
  )
</V2Layout>