---
import "../../../styles/v2/4.3_chatbox.css";
import V2Layout from "../../../layouts/V2Layout.astro";

import Header from '../../../components/v2/4.3_chatbox/Header'
import IssueForm from '../../../components/v2/4.3_chatbox/IssueForm'
import ChatSection from '../../../components/v2/4.3_chatbox/ChatSection'
import Footer from '../../../components/v2/4.3_chatbox/Footer'
import BackButton from "../../../components/v2/4.2_topic/BackButton";
import NotificationBanner from "../../../components/v2/4.1_post_issue/NotificationBanner";

---

<V2Layout>
  <div class="min-h-screen bg-gray-100 flex flex-col">
      <Header />
      <main class="max-w-7xl mx-auto mt-6 px-4 sm:px-6 lg:px-8 grid grid-cols-1 lg:grid-cols-4">
      <div class='col-span-1 py-6 space-y-6 mr-6'><BackButton /></div>
      
      <div class="mx-6 lg:col-span-2 space-y-6">
        <NotificationBanner type="warning" title="Adding a new issue" message="You are adding new" />
        <IssueForm />
      </div>
      <div class="lg:col-span-1 space-y-6">
        <ChatSection />
      </div>
      </main>
      <Footer />
    </div>
</V2Layout>