---
import "../../../styles/v2/4.2_topic.css";
import V2Layout from "../../../layouts/V2Layout.astro";
import Header from '../../../components/utilitified_decorations/Header'
import Footer from '../../../components/utilitified_decorations/Footer'
import NavigatingSubtitledElement from '../../../components/utilitified_decorations/NavigatingSubtitledElement'
import NavigatingElement from '../../../components/utilitified_decorations/NavigatingElement'
import BackButton from '../../../components/utilitified_decorations/BackButton'

import IssueCard from '../../../components/v2/4.2_topic/IssueCard'
import IssueDetailsCard from '../../../components/v2/4.2_topic/IssueDetailsCard'
import VotingCard from '../../../components/v2/4.2_topic/VotingCard'
import ChatCard from '../../../components/v2/4.2_topic/ChatCard'

const additional = [
  await NavigatingElement({href: "/v2/maintainer/work", children: "Cascading Work"}),
  await NavigatingSubtitledElement({subtitle: "Issues List/Roadmap", active: true, children: "Version"}),
  await NavigatingElement({active: true, children: "Chatting Issue"})
].reverse();
---

<V2Layout>
  <Header 
        landingPageTopMenu={false}  
        cascadeLogoSubtitle="Data Section: Issue"
        additional={additional}  
  />
  <main class="max-w-7xl mx-auto mt-6 px-4 sm:px-6 lg:px-8 grid grid-cols-1 lg:grid-cols-4">
      <div class='col-span-1 py-6 space-y-6 mr-6'><BackButton /></div>
      
      <div class="mx-6 lg:col-span-2 space-y-6">
        <IssueCard />
        <IssueDetailsCard />
        <VotingCard />
      </div>
      <div class="lg:col-span-1 space-y-6">
        <ChatCard />
      </div>
  </main>
  <Footer />
</V2Layout>