---
import "../../../styles/v2/7.4.2_update_issue.css";
import V2Layout from "../../../layouts/V2Layout.astro";

import Header from '../../../components/v2/7.4.2_update_issue/Header'
import IssueEditingAlert from '../../../components/v2/7.4.2_update_issue/IssueEditingAlert'
import BackButton from '../../../components/v2/7.4.2_update_issue/BackButton'
import IssueCard from '../../../components/v2/7.4.2_update_issue/IssueCard'
import IssueDetails from '../../../components/v2/7.4.2_update_issue/IssueDetails'
import Footer from '../../../components/v2/7.4.2_update_issue/Footer'
---

<V2Layout>
    <div class="min-h-screen bg-gray-50">
      <Header />
      
      <main class="max-w-7xl mx-auto px-4 py-6">
        <IssueEditingAlert />
        
        <div class="mb-6">
          <BackButton />
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
          <div class="lg:col-span-2">
            <IssueCard />
          </div>
          
          <div class="lg:col-span-1">
            <IssueDetails />
          </div>
        </div>
      </main>

      <Footer />
    </div>
</V2Layout>