---
import "../../../../styles/v2/7.1.1_profile.css";
import V2Layout from "../../../../layouts/V2Layout.astro";
import Header from '../../../../components/utilitified_decorations/Header'
import Footer from '../../../../components/utilitified_decorations/Footer'
import { NavigationName } from "../../../../components/utilitified_decorations/HeaderRight";

import NotificationBanner from '../../../../components/v2/7.3_project/NotificationBanner'
import ProjectHeader from '../../../../components/v2/7.3_project/ProjectHeader'
import ProjectStats from '../../../../components/v2/7.3_project/ProjectStats'
import IssuesSection from '../../../../components/v2/7.3_project/IssuesSection'
import Sidebar from '../../../../components/v2/7.3_project/Sidebar'

---
<V2Layout>
 <div class="min-h-screen bg-gray-50">
      <Header landingPageTopMenu={false} activeLink={NavigationName.ProjectName} cascadeLogoSubtitle="Data Section: Project" />
        <NotificationBanner />
        
        <div class="px-4 p-6">
          <div class="flex flex-col lg:flex-row gap-6">
            <main class="max-w-7xl mx-auto px-4 py-6">
              <ProjectHeader />
              <ProjectStats />
              <IssuesSection />
            </main>
            <Sidebar />
          </div>
        </div>
        
        <Footer />
    </div>
</V2Layout>