---
import "../../../../styles/v2/5.3_fork_detection.css";
import V2Layout from "../../../../layouts/V2Layout.astro";

import Header from '../../../../components/v2/5.3_fork_detection/Header'
import ForkDetectionMain from '../../../../components/v2/5.3_fork_detection/ForkDetectionMain'
import Footer from '../../../../components/v2/5.3_fork_detection/Footer'

---

<V2Layout>
 <div class="min-h-screen bg-gray-100">
      <Header />
      <ForkDetectionMain />
      <Footer />
    </div>
</V2Layout>