---
import "../../../styles/v2/1.header.1_contributor.css";
import V2Layout from "../../../layouts/V2Layout.astro";

import Header from '../../../components/v2/1.header.1_contributor/Header'
import HeroSection from '../../../components/v2/1.header.1_contributor/HeroSection'
import ChallengesSection from '../../../components/v2/1.header.1_contributor/ChallengesSection'
import HowItWorksSection from '../../../components/v2/1.header.1_contributor/HowItWorksSection'
import DevelopmentSection from '../../../components/v2/1.header.1_contributor/DevelopmentSection'
import StatsSection from '../../../components/v2/1.header.1_contributor/StatsSection'
import Footer from '../../../components/v2/1.header.1_contributor/Footer'

---
<V2Layout>
    <div class="min-h-screen bg-white">
      <Header />
      <HeroSection />
      <ChallengesSection />
      <HowItWorksSection />
      <DevelopmentSection />
      <StatsSection />
      <Footer />
    </div>
</V2Layout>