---
import "../../../styles/v2/1.header.3_work.css";
import V2Layout from "../../../layouts/V2Layout.astro";

import Header from '../../../components/v2/1.header.3_work/Header'
import HeroSection from '../../../components/v2/1.header.3_work/HeroSection'
import CastSection from '../../../components/v2/1.header.3_work/CastSection'
import StorySection from '../../../components/v2/1.header.3_work/StorySection'
import MaintainerSection from '../../../components/v2/1.header.3_work/MaintainerSection'
import RatingsSection from '../../../components/v2/1.header.3_work/RatingsSection'
import VideoSection from '../../../components/v2/1.header.3_work/VideoSection'
import CTASection from '../../../components/v2/1.header.3_work/CTASection'
import Footer from '../../../components/v2/1.header.3_work/Footer'
---

<V2Layout>
  <div className="min-h-screen bg-white">
      <Header />
      <main>
        <HeroSection />
        <CastSection />
        <StorySection />
        <MaintainerSection />
        <RatingsSection />
        <VideoSection />
        <CTASection />
      </main>
      <Footer />
    </div>
</V2Layout>