---
import "../../styles/v2/landing_page.css";
import V2Layout from "@/layouts/PanelViewLayout.astro"

import HeroSection from '../../components/v2/landing_page/HeroSection'
import WhyMaintainersStruggle from '../../components/v2/landing_page/WhyMaintainersStruggle'
import HowItWorks from '../../components/v2/landing_page/HowItWorks'
import BeAFoundingMaintainer from '../../components/v2/landing_page/BeAFoundingMaintainer'
import AraProject from '../../components/v2/landing_page/AraProject'
import FAQ from '../../components/v2/landing_page/FAQ'
import CallToAction from '../../components/v2/landing_page/CallToAction'
import { NavigationName } from "../../components/utilitified_decorations/HeaderRight";
---

<V2Layout landingPageTopMenu={true} activeLink={NavigationName.MaintainerLanding}>
    <div class="min-h-screen bg-white" slot="hero">
      <main>
        <HeroSection />
        <WhyMaintainersStruggle />
        <HowItWorks />
        <BeAFoundingMaintainer />
        <AraProject />
        <FAQ />
        <CallToAction />
      </main>
    </div>
</V2Layout>