---
import BaseLayout from '../layouts/BaseLayout.astro'
import Header from '../components/editComponents/Header'
import ProjectEditor from '../components/editComponents/ProjectEditor'
import Footer from '../components/editComponents/Footer'

---

<BaseLayout>
    <div class="min-h-screen bg-gray-100">
      <Header />
      <ProjectEditor />
      <Footer />
    </div>
</BaseLayout>

<style>
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>