---
import "../../../styles/v2/3.3_work.css";
import V2Layout from "../../../layouts/V2Layout.astro";

import Header from '../../../components/v2/3.3_work/Header'
import MainContent from '../../../components/v2/3.3_work/MainContent'
import Footer from '../../../components/v2/3.3_work/Footer'

---
<V2Layout>
  <div class="min-h-screen bg-gray-100">
      <Header />
      <MainContent />
      <Footer />
    </div>
</V2Layout>