---
import "../../styles/index.css";
import Header from "../../components/landing/Header";
import Hero from "../../components/landing/Hero";
import Vision from "../../components/landing/Goal.tsx";
import HowItWorks from "../../components/landing/WhatIsIt.tsx";
import Features from "../../components/landing/Preview.tsx";
import Pricing from "../../components/landing/CascadeFunding.tsx";
import JoinUs from "../../components/landing/JoinUs";
import Team from "../../components/landing/Maintainers.tsx";
import Footer from "../../components/landing/Footer";
import Layout from "../../layouts/Layout.astro";
import { Accent } from "../../scripts/data.tsx";
---

<Layout>
  <Header client:load />
  <main>
    <Hero client:load accent={Accent.formalResponsibleCollaborationAccent} />
    <HowItWorks
      client:load
      accent={Accent.formalResponsibleCollaborationAccent}
    />
    <Features client:load />
    <Vision client:load />
    <Pricing client:load />
    <JoinUs client:load />
    <Team client:load />
  </main>
  <Footer client:load />
</Layout>
