---
import "../../styles/index.css";
import Header from "../../components/landing/Header";
import Hero from "../../components/landing/Hero";
import VisionSection from "../../components/landing/Vision";
import HowItWorks from "../../components/landing/HowItWorks";
import Features from "../../components/landing/Features";
import Pricing from "../../components/landing/Pricing";
import JoinUs from "../../components/landing/JoinUs";
import Team from "../../components/landing/Team";
import Footer from "../../components/landing/Footer";
import Layout from "../../layouts/Layout.astro";
import { Accent } from "../../scripts/data";
---

<Layout>
  <Header client:load />
  <main>
    <Hero client:load accent={Accent.visionaryAccent} />
    <VisionSection client:load />
    <HowItWorks client:load />
    <Features client:load />
    <Pricing client:load />
    <JoinUs client:load />
    <Team client:load />
  </main>
  <Footer client:load />
</Layout>
