---
import { type SectionProps, BgType } from "@/types/eventTypes";
import Section from "./BaseSection.astro";

type Props = SectionProps;

let { title, actions, bg, subtitle } = Astro.props;
if (bg === undefined) {
  bg = {
    sectionBgType: BgType.heroSection,
  };
}
---

<Section
  className="h-[80vh]"
  title={title}
  actions={actions}
  bg={bg}
  subtitle={subtitle}
>
  <slot />
</Section>
