---
import V2Layout from "@/layouts/PanelViewLayout.astro";

import CollaborationSection from "@/components/project/AddingAfterInfoPanel";
import NotificationBanner from "@/components/NotificationBanner";
---

<V2Layout subtitle="Become an Influencer and Network">
  <NotificationBanner
    slot="center"
    type="success"
    title="Welcome to 'Project' community"
    icon="success"
  >
    You got 100 Voting Power! This voting power is to raise your word as an
    issue, and to take the scarce maintainer's resource. You also help to raise
    improve the project for other people as well
    <span>You spent 15, to the maintainer.</span>
  </NotificationBanner>
  <NotificationBanner
    slot="center"
    type="success"
    title="You initiated a quest for the maintainer"
    icon="success"
  >
    The maintainer has a quest, and will have to reply to you. Otherwise, his
    rating will reduce
    <span>You spent 15, to the maintainer.</span>
  </NotificationBanner>
  <CollaborationSection slot="center" />
</V2Layout>
