---
import { ClientRouter } from "astro:transitions";
import "@/styles/global.css";
import Header from "@/components/utilitified_decorations/LandingHeader.astro";
import Footer from "@/components/utilitified_decorations/Footer.astro";
import type { ItemName } from "@/components/utilitified_decorations/LandingNavbar.astro";

interface Props {
  subtitle?: string;
  active?: ItemName;
  hideLinks?: ItemName[];
}
const { subtitle, active, hideLinks } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/cascadefund_logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>CascadeFund</title>
    <ClientRouter />
  </head>
  <body class="min-h-screen bg-gray-200 pt-14">
    <Header active={active} subtitle={subtitle} hideLinks={hideLinks} />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  @import "@chatscope/chat-ui-kit-styles/dist/default/styles.min.css";
</style>
