---
import { ClientRouter } from "astro:transitions";
import "@/styles/motion.css";
import Captcha from "@/components/captcha.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/cascadefund_logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>CascadeFund</title>

    <ClientRouter />
  </head>
  <body
    class="min-h-screen bg-neutral-50 dark:bg-gray-900 transition-colors duration-300"
  >
    <Captcha client:load />
    <slot />
  </body>
</html>
