---
import Layout from "@/layouts/PanelViewLayout.astro";
import MenuPanel from "@/components/menu/MenuPanel";
import { MenuName } from "@/components/navbar/WorkNavbar.astro";
import PageLikePanel from "@/components/panel/PageLikePanel";

import ShareTools from "@/components/maintainer/ShareToolsPanel";

import MarketingAnalyticsPanel from "@/components/maintainer/MarketingTabs";
import RowGrid from "@/components/grid/RowGrid";
import CommentFeedback from "@/components/maintainer/CommentFeedbackPanel";
import CallToAction from "@/components/maintainer/MarketingActionsPanel";
import InsightPanel from "@/components/maintainer/InsightPanel";
---

<Layout active={MenuName.ProjectName}>
  <MenuPanel activeMenuItem="marketing" slot="left" />
  <PageLikePanel
    slot="center"
    title="CascadeFund Marketing Tools"
    actions={[{ variant: "success", children: "Start Tour", uri: "#" }]}
  >
    <p class="text-gray-600">
      This page is all about helping your project grow. Whether you want more
      users, donations, or contributors, CascadeFund gives you simple share
      tools to spread the word and onboard people.
    </p>
  </PageLikePanel>
  <MarketingAnalyticsPanel slot="center" client:load />
  <RowGrid slot="center" cols={2}>
    <CommentFeedback />
    <CallToAction />
  </RowGrid>
  <ShareTools slot="right" />
  <InsightPanel slot="right" />
</Layout>
