---
import Layout from "@/layouts/PanelViewLayout.astro";
import MenuPanel from "@/components/menu/MenuPanel";
import { MenuName } from "@/components/navbar/WorkNavbar.astro";

import InfoPanel from "@/components/panel/InfoPanel";
import RoadmapTabs from "@/components/maintainer/RoadmapTabs";
import WorkPanel from "@/components/maintainer/WorkPanel";
---

<Layout active={MenuName.ProjectName}>
  <MenuPanel activeMenuItem="work" slot="left" />
  <!-- <QuestPanel slot="center" client:load /> -->
  <!-- <InfoPanel
    slot="right"
    title="How to work with the tasks?"
    icon="info"
    actions={[
      {
        children: "Learn more",
        href: "/meta/work",
      },
    ]}
  >
    <ul class="text-xs text-gray-600 space-y-1">
      <li>
        • <strong
          >CascadeFund is the only management platform that avoids burnout</strong
        ><br />
        Therefore, it's a quest based management platform.
      </li>
      <li>• The icons next to each task helps to identify it.</li>
    </ul>
  </InfoPanel> -->
  <InfoPanel slot="left" title="About issues" icon="info">
    <div class="mb-4">
      <ul class="text-xs text-gray-600 space-y-1">
        <li>
          • Public issues are the app feedback, equiavalent to GitHub issues.
        </li>
        <li>• Funded issues are by your donators or by quest system.</li>
        <li>
          • Completing funded issues will result in the rating for all
          participants.
        </li>
      </ul>
    </div>
  </InfoPanel>
  <WorkPanel slot="center" client:load />
  <RoadmapTabs slot="right" client:load />
</Layout>
