---
import V2Layout from "@/layouts/PanelViewLayout.astro";
import Menu from "@/components/menu/MenuPanel";
import Link from "@/components/custom-ui/Link";

import { ItemName } from "@/components/utilitified_decorations/WorkNavbar.astro";

import InfoPanel from "@/components/panel/InfoPanel";
import TasksSection from "@/components/quest/QuestPanel";
import RoadmapPanel from "@/components/maintainer/RoadmapPanel";
import WorkPanel from "@/components/maintainer/WorkPanel";
---

<V2Layout active={ItemName.ProjectName}>
  <Menu activeMenuItem="work" slot="left" />
  <!-- <TasksSection slot="center" client:load /> -->
  <!-- <InfoPanel
    slot="right"
    title="How to work with the tasks?"
    icon="info"
    actions={[
      {
        children: "Learn more",
        href: "/meta/work",
      },
    ]}
  >
    <ul class="text-xs text-gray-600 space-y-1">
      <li>
        • <strong
          >CascadeFund is the only management platform that avoids burnout</strong
        ><br />
        Therefore, it's a quest based management platform.
      </li>
      <li>• The icons next to each task helps to identify it.</li>
    </ul>
  </InfoPanel> -->
  <InfoPanel slot="left" title="About issues" icon="info">
    <div class="mb-4">
      <ul class="text-xs text-gray-600 space-y-1">
        <li>
          • Public issues are the app feedback, equiavalent to GitHub issues.
        </li>
        <li>• Funded issues are by your donators or by quest system.</li>
        <li>
          • Completing funded issues will result in the rating for all
          participants.
        </li>
      </ul>
    </div>
  </InfoPanel>
  <WorkPanel slot="center" client:load />
  <RoadmapPanel slot="right" client:load />
  )
</V2Layout>
